body { 
    background-color: #F9F9FF;
    /*padding-bottom: 240px;*/
    margin-bottom: 60px;
}

.navbar {
    background-color: #C8C8FF;
    color: black;
}

.font-awesome {
    text-align: center;
}

.center {
    text-align: center;
}

/*this doesnt work*/
/*i {
    padding-right: 25px;
}

footer {
    padding: 10px;
}
*/