body { 
    background-color: white;
    /*padding-bottom: 240px;*/
    margin-bottom: 60px;
}

.navbar {
    background-color: #b3d9ff;
    color: black;
}

.font-awesome {
    text-align: center;
}

.center {
    text-align: center;
}

/*this doesnt work*/
/*i {
    padding-right: 25px;
}

footer {
    padding: 10px;
}
*/